{
  "openapi": "3.1.0",
  "info": {
    "title": "heidy_api",
    "version": "1.0.0",
    "description": "Student academic organizer API (v1 targets USP). Thin Phoenix controllers over rich domain contexts. All times are ISO 8601 UTC; ids are UUID v4. Errors use a single envelope. See docs/architecture.md and docs/api.md."
  },
  "servers": [
    { "url": "https://api.heidy.app/api/v1", "description": "production" },
    { "url": "http://localhost:4000/api/v1", "description": "local" }
  ],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Health" }, { "name": "Auth" }, { "name": "User" },
    { "name": "Vault" }, { "name": "UspSync" }, { "name": "Semesters" },
    { "name": "Enrollments" }, { "name": "Meetings" }, { "name": "Tasks" },
    { "name": "Grades" }, { "name": "Absences" }, { "name": "Catalog" }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["Health"], "summary": "Liveness/readiness probe", "security": [],
        "responses": {
          "200": {
            "description": "healthy",
            "content": { "application/json": { "schema": {
              "type": "object", "required": ["status", "version"],
              "properties": { "status": { "const": "ok" }, "version": { "type": "string" } }
            }}}
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Auth"], "summary": "Create an account", "security": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterInput" } } } },
        "responses": {
          "201": { "description": "created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthResultResponse" } } } },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Auth"], "summary": "Exchange credentials for a token", "security": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LoginInput" } } } },
        "responses": {
          "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthResultResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/auth/logout": {
      "delete": {
        "tags": ["Auth"], "summary": "Revoke the current token",
        "responses": { "204": { "$ref": "#/components/responses/NoContent" }, "401": { "$ref": "#/components/responses/Unauthorized" } }
      }
    },
    "/auth/password/forgot": {
      "post": {
        "tags": ["Auth"], "summary": "Request a password-reset token", "security": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["email"],
          "properties": { "email": { "type": "string", "format": "email", "maxLength": 160 } }
        }}}},
        "responses": { "202": { "description": "accepted (does not reveal whether the email exists)" } }
      }
    },
    "/auth/password/reset": {
      "post": {
        "tags": ["Auth"], "summary": "Reset password with a token", "security": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["token", "password"],
          "properties": {
            "token": { "type": "string", "minLength": 1 },
            "password": { "$ref": "#/components/schemas/Password" }
          }
        }}}},
        "responses": {
          "200": { "description": "reset" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/me": {
      "get": {
        "tags": ["User"], "summary": "Current user profile",
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserResponse" } } } }, "401": { "$ref": "#/components/responses/Unauthorized" } }
      },
      "patch": {
        "tags": ["User"], "summary": "Update profile",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateProfileInput" } } } },
        "responses": {
          "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserResponse" } } } },
          "422": { "$ref": "#/components/responses/ValidationFailed" }, "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "tags": ["User"], "summary": "Delete the account and all owned data",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["password"], "properties": { "password": { "type": "string", "minLength": 1 } }
        }}}},
        "responses": { "204": { "$ref": "#/components/responses/NoContent" }, "403": { "$ref": "#/components/responses/Forbidden" }, "401": { "$ref": "#/components/responses/Unauthorized" } }
      }
    },
    "/me/password": {
      "put": {
        "tags": ["User"], "summary": "Change password",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["current_password", "new_password"],
          "properties": {
            "current_password": { "type": "string", "minLength": 1 },
            "new_password": { "$ref": "#/components/schemas/Password" }
          }
        }}}},
        "responses": { "200": { "description": "changed" }, "403": { "$ref": "#/components/responses/Forbidden" }, "422": { "$ref": "#/components/responses/ValidationFailed" } }
      }
    },
    "/me/usp-credential": {
      "get": {
        "tags": ["Vault"], "summary": "USP credential metadata (never the secret)",
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UspCredentialMetaResponse" } } } }, "401": { "$ref": "#/components/responses/Unauthorized" } }
      },
      "post": {
        "tags": ["Vault"], "summary": "Store or replace the USP credential (PIN-encrypted)",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UspCredentialInput" } } } },
        "responses": {
          "201": { "description": "stored", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UspCredentialMetaResponse" } } } },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/ValidationFailed" },
          "502": { "description": "USP unreachable during verification", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "delete": {
        "tags": ["Vault"], "summary": "Remove the stored credential",
        "responses": { "204": { "$ref": "#/components/responses/NoContent" }, "401": { "$ref": "#/components/responses/Unauthorized" } }
      }
    },
    "/me/usp-credential/pin": {
      "put": {
        "tags": ["Vault"], "summary": "Rotate the PIN (re-wraps the data key)",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["pin", "new_pin"],
          "properties": { "pin": { "$ref": "#/components/schemas/Pin" }, "new_pin": { "$ref": "#/components/schemas/Pin" } }
        }}}},
        "responses": { "200": { "description": "rotated" }, "403": { "$ref": "#/components/responses/Forbidden" }, "422": { "$ref": "#/components/responses/ValidationFailed" } }
      }
    },
    "/me/usp-credential/verify": {
      "post": {
        "tags": ["Vault"], "summary": "Verify the credential against USP live",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["pin"], "properties": { "pin": { "$ref": "#/components/schemas/Pin" } }
        }}}},
        "responses": {
          "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UspCredentialMetaResponse" } } } },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/usp/sync": {
      "get": {
        "tags": ["UspSync"], "summary": "Recent sync runs",
        "parameters": [
          { "$ref": "#/components/parameters/Page" }, { "$ref": "#/components/parameters/PageSize" },
          { "name": "status", "in": "query", "schema": { "$ref": "#/components/schemas/SyncStatus" } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncRunList" } } } } }
      },
      "post": {
        "tags": ["UspSync"], "summary": "Kick off an import (async)",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncInput" } } } },
        "responses": {
          "202": { "description": "accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncRunResponse" } } } },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "description": "a sync is already running", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/usp/sync/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": {
        "tags": ["UspSync"], "summary": "Poll a sync run",
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncRunResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" } }
      }
    },
    "/semesters": {
      "get": {
        "tags": ["Semesters"], "summary": "List semesters",
        "parameters": [
          { "$ref": "#/components/parameters/Page" }, { "$ref": "#/components/parameters/PageSize" },
          { "name": "active", "in": "query", "schema": { "type": "boolean" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["start_date", "-start_date", "label"], "default": "-start_date" } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SemesterList" } } } } }
      },
      "post": {
        "tags": ["Semesters"], "summary": "Create a semester",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SemesterInput" } } } },
        "responses": {
          "201": { "description": "created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SemesterResponse" } } } },
          "409": { "$ref": "#/components/responses/Conflict" }, "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/semesters/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Semesters"], "summary": "Semester detail", "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SemesterResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "patch": {
        "tags": ["Semesters"], "summary": "Update a semester",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SemesterUpdateInput" } } } },
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SemesterResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" }, "409": { "$ref": "#/components/responses/Conflict" }, "422": { "$ref": "#/components/responses/ValidationFailed" } }
      },
      "delete": { "tags": ["Semesters"], "summary": "Delete a semester (cascades)", "responses": { "204": { "$ref": "#/components/responses/NoContent" }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/enrollments": {
      "get": {
        "tags": ["Enrollments"], "summary": "List classes",
        "parameters": [
          { "$ref": "#/components/parameters/Page" }, { "$ref": "#/components/parameters/PageSize" },
          { "name": "semester_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "source", "in": "query", "schema": { "$ref": "#/components/schemas/Source" } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EnrollmentList" } } } } }
      },
      "post": {
        "tags": ["Enrollments"], "summary": "Add a class",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EnrollmentInput" } } } },
        "responses": {
          "201": { "description": "created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EnrollmentResponse" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }, "409": { "$ref": "#/components/responses/Conflict" }, "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/enrollments/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Enrollments"], "summary": "Class detail (with meetings)", "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EnrollmentResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "patch": {
        "tags": ["Enrollments"], "summary": "Update a class",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EnrollmentUpdateInput" } } } },
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EnrollmentResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" }, "422": { "$ref": "#/components/responses/ValidationFailed" } }
      },
      "delete": { "tags": ["Enrollments"], "summary": "Remove a class", "responses": { "204": { "$ref": "#/components/responses/NoContent" }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/enrollments/{id}/meetings": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Meetings"], "summary": "List class time slots", "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MeetingList" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "post": {
        "tags": ["Meetings"], "summary": "Add a time slot",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MeetingInput" } } } },
        "responses": {
          "201": { "description": "created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MeetingResponse" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }, "409": { "$ref": "#/components/responses/Conflict" }, "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/meetings/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "patch": {
        "tags": ["Meetings"], "summary": "Update a time slot",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MeetingInput" } } } },
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MeetingResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" }, "409": { "$ref": "#/components/responses/Conflict" }, "422": { "$ref": "#/components/responses/ValidationFailed" } }
      },
      "delete": { "tags": ["Meetings"], "summary": "Remove a time slot", "responses": { "204": { "$ref": "#/components/responses/NoContent" }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/schedule": {
      "get": {
        "tags": ["Meetings"], "summary": "Computed weekly schedule grid",
        "parameters": [{ "name": "semester_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScheduleResponse" } } } },
          "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/tasks": {
      "get": {
        "tags": ["Tasks"], "summary": "List tasks",
        "parameters": [
          { "$ref": "#/components/parameters/Page" }, { "$ref": "#/components/parameters/PageSize" },
          { "name": "semester_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "enrollment_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "status", "in": "query", "schema": { "$ref": "#/components/schemas/TaskStatus" } },
          { "name": "kind", "in": "query", "schema": { "$ref": "#/components/schemas/TaskKind" } },
          { "name": "due_before", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "due_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["due_at", "-due_at", "priority"], "default": "due_at" } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskList" } } } } }
      },
      "post": {
        "tags": ["Tasks"], "summary": "Create a task",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskInput" } } } },
        "responses": {
          "201": { "description": "created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskResponse" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }, "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/tasks/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Tasks"], "summary": "Task detail", "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "patch": {
        "tags": ["Tasks"], "summary": "Update a task",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskUpdateInput" } } } },
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" }, "422": { "$ref": "#/components/responses/ValidationFailed" } }
      },
      "delete": { "tags": ["Tasks"], "summary": "Delete a task", "responses": { "204": { "$ref": "#/components/responses/NoContent" }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/tasks/{id}/status": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "patch": {
        "tags": ["Tasks"], "summary": "Transition task status",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["status"], "properties": { "status": { "$ref": "#/components/schemas/TaskStatus" } }
        }}}},
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TaskResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" }, "422": { "$ref": "#/components/responses/ValidationFailed" } }
      }
    },
    "/enrollments/{id}/grades": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Grades"], "summary": "List grades for a class", "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GradeList" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "post": {
        "tags": ["Grades"], "summary": "Add a grade",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GradeInput" } } } },
        "responses": {
          "201": { "description": "created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GradeResponse" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }, "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/enrollments/{id}/grades/summary": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Grades"], "summary": "Computed grade summary", "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GradeSummaryResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/grades/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "patch": {
        "tags": ["Grades"], "summary": "Update a grade",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GradeInput" } } } },
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GradeResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" }, "422": { "$ref": "#/components/responses/ValidationFailed" } }
      },
      "delete": { "tags": ["Grades"], "summary": "Delete a grade", "responses": { "204": { "$ref": "#/components/responses/NoContent" }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/enrollments/{id}/absences": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Absences"], "summary": "List absences for a class", "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AbsenceList" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "post": {
        "tags": ["Absences"], "summary": "Log an absence",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AbsenceInput" } } } },
        "responses": {
          "201": { "description": "created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AbsenceResponse" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }, "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/enrollments/{id}/absences/summary": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Absences"], "summary": "Computed attendance summary", "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AbsenceSummaryResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/absences/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "delete": { "tags": ["Absences"], "summary": "Remove an absence", "responses": { "204": { "$ref": "#/components/responses/NoContent" }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/universities": {
      "get": {
        "tags": ["Catalog"], "summary": "List/search universities", "security": [],
        "parameters": [
          { "$ref": "#/components/parameters/Page" }, { "$ref": "#/components/parameters/PageSize" },
          { "name": "q", "in": "query", "schema": { "type": "string", "maxLength": 80 } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UniversityList" } } } } }
      }
    },
    "/universities/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Catalog"], "summary": "University detail", "security": [], "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UniversityResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/universities/{id}/units": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Catalog"], "summary": "Units of a university", "security": [], "parameters": [{ "$ref": "#/components/parameters/Page" }, { "$ref": "#/components/parameters/PageSize" }], "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UnitList" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/units/{id}/courses": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Catalog"], "summary": "Courses of a unit", "security": [], "parameters": [{ "$ref": "#/components/parameters/Page" }, { "$ref": "#/components/parameters/PageSize" }], "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CourseList" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/disciplines": {
      "get": {
        "tags": ["Catalog"], "summary": "Search disciplines", "security": [],
        "parameters": [
          { "$ref": "#/components/parameters/Page" }, { "$ref": "#/components/parameters/PageSize" },
          { "name": "unit_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "q", "in": "query", "schema": { "type": "string", "maxLength": 80 } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DisciplineList" } } } } }
      }
    },
    "/disciplines/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/Id" }],
      "get": { "tags": ["Catalog"], "summary": "Discipline detail", "security": [], "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DisciplineResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "Token from /auth/register or /auth/login." }
    },
    "parameters": {
      "Id": { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "Page": { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1, "default": 1 } },
      "PageSize": { "name": "page_size", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 } }
    },
    "responses": {
      "NoContent": { "description": "no content" },
      "Unauthorized": { "description": "missing/invalid token", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Forbidden": { "description": "authenticated but forbidden (e.g. wrong PIN)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "NotFound": { "description": "not found or not owned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Conflict": { "description": "conflict (duplicate / overlap)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "ValidationFailed": { "description": "validation failed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationError" } } } },
      "RateLimited": { "description": "too many requests", "headers": { "Retry-After": { "schema": { "type": "integer" } } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
    },
    "schemas": {
      "Error": {
        "type": "object", "required": ["errors"],
        "properties": { "errors": { "type": "object", "required": ["detail"], "properties": { "detail": { "type": "string" } } } }
      },
      "ValidationError": {
        "type": "object", "required": ["errors"],
        "properties": { "errors": { "type": "object", "required": ["detail", "fields"], "properties": {
          "detail": { "type": "string" },
          "fields": { "type": "object", "additionalProperties": { "type": "array", "items": { "type": "string" } },
            "examples": [{ "email": ["can't be blank"], "score": ["must be less than or equal to max_score"] }] }
        }}}
      },
      "PaginationMeta": {
        "type": "object", "required": ["page", "page_size", "total"],
        "properties": {
          "page": { "type": "integer", "minimum": 1 },
          "page_size": { "type": "integer", "minimum": 1, "maximum": 100 },
          "total": { "type": "integer", "minimum": 0 }
        }
      },
      "Password": { "type": "string", "minLength": 8, "maxLength": 72, "pattern": "^(?=.*[A-Za-z])(?=.*\\d).+$", "description": "8-72 chars, at least one letter and one digit." },
      "Pin": { "type": "string", "pattern": "^\\d{4,12}$", "description": "4-12 digits. Never stored; encrypts the USP credential.", "writeOnly": true },
      "Source": { "type": "string", "enum": ["manual", "usp"], "readOnly": true },
      "TaskKind": { "type": "string", "enum": ["assignment", "exam", "reading", "project", "other"] },
      "TaskStatus": { "type": "string", "enum": ["todo", "doing", "done"] },
      "TaskPriority": { "type": "string", "enum": ["low", "normal", "high"] },
      "SyncSource": { "type": "string", "enum": ["schedule", "grades", "absences", "disciplines"] },
      "SyncStatus": { "type": "string", "enum": ["pending", "running", "succeeded", "failed"] },
      "CredentialStatus": { "type": "string", "enum": ["unverified", "verified", "invalid"] },

      "RegisterInput": {
        "type": "object", "additionalProperties": false, "required": ["email", "password", "name"],
        "properties": {
          "email": { "type": "string", "format": "email", "maxLength": 160 },
          "password": { "$ref": "#/components/schemas/Password" },
          "name": { "type": "string", "minLength": 1, "maxLength": 80 }
        }
      },
      "LoginInput": {
        "type": "object", "additionalProperties": false, "required": ["email", "password"],
        "properties": { "email": { "type": "string", "format": "email" }, "password": { "type": "string", "minLength": 1 } }
      },
      "AuthResultResponse": {
        "type": "object", "required": ["data"],
        "properties": { "data": { "type": "object", "required": ["user", "token", "token_expires_at"], "properties": {
          "user": { "$ref": "#/components/schemas/User" },
          "token": { "type": "string" },
          "token_expires_at": { "type": "string", "format": "date-time" }
        }}}
      },
      "User": {
        "type": "object", "required": ["id", "email", "name"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "email": { "type": "string", "format": "email" },
          "name": { "type": "string" },
          "university": { "oneOf": [{ "$ref": "#/components/schemas/University" }, { "type": "null" }] },
          "course": { "oneOf": [{ "$ref": "#/components/schemas/Course" }, { "type": "null" }] },
          "usp_credential": { "$ref": "#/components/schemas/UspCredentialMeta" },
          "inserted_at": { "type": "string", "format": "date-time" }
        }
      },
      "UserResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/User" } } },
      "UpdateProfileInput": {
        "type": "object", "additionalProperties": false, "minProperties": 1,
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 80 },
          "university_id": { "type": "string", "format": "uuid" },
          "course_id": { "type": "string", "format": "uuid" }
        }
      },

      "UspCredentialInput": {
        "type": "object", "additionalProperties": false, "required": ["usp_username", "usp_password", "pin"],
        "properties": {
          "usp_username": { "type": "string", "pattern": "^\\d{6,12}$", "description": "USP number." },
          "usp_password": { "type": "string", "minLength": 1, "maxLength": 128, "writeOnly": true, "description": "USP Senha Unica; encrypted at rest, never returned." },
          "pin": { "$ref": "#/components/schemas/Pin" },
          "verify": { "type": "boolean", "default": true }
        }
      },
      "UspCredentialMeta": {
        "type": "object", "required": ["connected"],
        "properties": {
          "connected": { "type": "boolean" },
          "status": { "$ref": "#/components/schemas/CredentialStatus" },
          "usp_username": { "type": "string" },
          "last_verified_at": { "oneOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        }
      },
      "UspCredentialMetaResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/UspCredentialMeta" } } },

      "SyncInput": {
        "type": "object", "additionalProperties": false, "required": ["pin"],
        "properties": {
          "pin": { "$ref": "#/components/schemas/Pin" },
          "sources": { "type": "array", "items": { "$ref": "#/components/schemas/SyncSource" }, "uniqueItems": true, "minItems": 1 },
          "semester_id": { "type": "string", "format": "uuid" }
        }
      },
      "SyncRun": {
        "type": "object", "required": ["id", "status", "sources", "created_at"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "status": { "$ref": "#/components/schemas/SyncStatus" },
          "sources": { "type": "array", "items": { "$ref": "#/components/schemas/SyncSource" } },
          "stats": { "oneOf": [{ "type": "object", "additionalProperties": { "type": "integer" } }, { "type": "null" }] },
          "error": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "created_at": { "type": "string", "format": "date-time" },
          "started_at": { "oneOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] },
          "finished_at": { "oneOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
        }
      },
      "SyncRunResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/SyncRun" } } },
      "SyncRunList": { "type": "object", "required": ["data", "meta"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/SyncRun" } }, "meta": { "$ref": "#/components/schemas/PaginationMeta" } } },

      "SemesterInput": {
        "type": "object", "additionalProperties": false, "required": ["label", "start_date", "end_date"],
        "properties": {
          "label": { "type": "string", "minLength": 1, "maxLength": 20, "description": "Unique per user." },
          "start_date": { "type": "string", "format": "date" },
          "end_date": { "type": "string", "format": "date", "description": "Must be >= start_date." },
          "active": { "type": "boolean", "default": false }
        }
      },
      "SemesterUpdateInput": {
        "type": "object", "additionalProperties": false, "minProperties": 1,
        "properties": {
          "label": { "type": "string", "minLength": 1, "maxLength": 20 },
          "start_date": { "type": "string", "format": "date" },
          "end_date": { "type": "string", "format": "date" },
          "active": { "type": "boolean" }
        }
      },
      "Semester": {
        "type": "object", "required": ["id", "label", "start_date", "end_date", "active"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "label": { "type": "string" },
          "start_date": { "type": "string", "format": "date" },
          "end_date": { "type": "string", "format": "date" },
          "active": { "type": "boolean" }
        }
      },
      "SemesterResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/Semester" } } },
      "SemesterList": { "type": "object", "required": ["data", "meta"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Semester" } }, "meta": { "$ref": "#/components/schemas/PaginationMeta" } } },

      "EnrollmentInput": {
        "type": "object", "additionalProperties": false, "required": ["semester_id"],
        "description": "Provide title, or discipline_id (which fills title/credits), or both.",
        "properties": {
          "semester_id": { "type": "string", "format": "uuid" },
          "title": { "type": "string", "minLength": 1, "maxLength": 120 },
          "discipline_id": { "type": "string", "format": "uuid" },
          "professor": { "type": "string", "maxLength": 120 },
          "credits": { "type": "integer", "minimum": 0, "maximum": 40 },
          "color": { "type": "string", "pattern": "^#[0-9A-Fa-f]{6}$" },
          "absence_limit": { "type": "integer", "minimum": 0, "maximum": 200 }
        },
        "anyOf": [{ "required": ["title"] }, { "required": ["discipline_id"] }]
      },
      "EnrollmentUpdateInput": {
        "type": "object", "additionalProperties": false, "minProperties": 1,
        "properties": {
          "title": { "type": "string", "minLength": 1, "maxLength": 120 },
          "professor": { "type": "string", "maxLength": 120 },
          "credits": { "type": "integer", "minimum": 0, "maximum": 40 },
          "color": { "type": "string", "pattern": "^#[0-9A-Fa-f]{6}$" },
          "absence_limit": { "type": "integer", "minimum": 0, "maximum": 200 }
        }
      },
      "Enrollment": {
        "type": "object", "required": ["id", "semester_id", "title", "source"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "semester_id": { "type": "string", "format": "uuid" },
          "discipline_id": { "oneOf": [{ "type": "string", "format": "uuid" }, { "type": "null" }] },
          "title": { "type": "string" },
          "professor": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "credits": { "oneOf": [{ "type": "integer" }, { "type": "null" }] },
          "color": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "absence_limit": { "oneOf": [{ "type": "integer" }, { "type": "null" }] },
          "source": { "$ref": "#/components/schemas/Source" },
          "external_ref": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "meetings": { "type": "array", "items": { "$ref": "#/components/schemas/Meeting" } }
        }
      },
      "EnrollmentResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/Enrollment" } } },
      "EnrollmentList": { "type": "object", "required": ["data", "meta"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Enrollment" } }, "meta": { "$ref": "#/components/schemas/PaginationMeta" } } },

      "MeetingInput": {
        "type": "object", "additionalProperties": false, "required": ["day_of_week", "starts_at", "ends_at"],
        "properties": {
          "day_of_week": { "type": "integer", "minimum": 1, "maximum": 7, "description": "1=Mon .. 7=Sun (ISO)." },
          "starts_at": { "type": "string", "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$", "description": "HH:MM wall-clock." },
          "ends_at": { "type": "string", "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$", "description": "HH:MM, strictly after starts_at." },
          "location": { "type": "string", "maxLength": 120 }
        }
      },
      "Meeting": {
        "type": "object", "required": ["id", "enrollment_id", "day_of_week", "starts_at", "ends_at"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "enrollment_id": { "type": "string", "format": "uuid" },
          "day_of_week": { "type": "integer", "minimum": 1, "maximum": 7 },
          "starts_at": { "type": "string" },
          "ends_at": { "type": "string" },
          "location": { "oneOf": [{ "type": "string" }, { "type": "null" }] }
        }
      },
      "MeetingResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/Meeting" } } },
      "MeetingList": { "type": "object", "required": ["data"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Meeting" } } } },
      "ScheduleResponse": {
        "type": "object", "required": ["data"],
        "properties": { "data": {
          "type": "object", "description": "Keyed by day_of_week ('1'..'7').",
          "additionalProperties": { "type": "array", "items": {
            "type": "object", "required": ["enrollment_id", "title", "starts_at", "ends_at"],
            "properties": {
              "enrollment_id": { "type": "string", "format": "uuid" },
              "title": { "type": "string" },
              "starts_at": { "type": "string" },
              "ends_at": { "type": "string" },
              "location": { "oneOf": [{ "type": "string" }, { "type": "null" }] }
            }
          }}
        }}
      },

      "TaskInput": {
        "type": "object", "additionalProperties": false, "required": ["title"],
        "properties": {
          "title": { "type": "string", "minLength": 1, "maxLength": 160 },
          "enrollment_id": { "type": "string", "format": "uuid" },
          "kind": { "allOf": [{ "$ref": "#/components/schemas/TaskKind" }], "default": "assignment" },
          "notes": { "type": "string", "maxLength": 5000 },
          "due_at": { "type": "string", "format": "date-time" },
          "priority": { "allOf": [{ "$ref": "#/components/schemas/TaskPriority" }], "default": "normal" },
          "status": { "allOf": [{ "$ref": "#/components/schemas/TaskStatus" }], "default": "todo" }
        }
      },
      "TaskUpdateInput": {
        "type": "object", "additionalProperties": false, "minProperties": 1,
        "properties": {
          "title": { "type": "string", "minLength": 1, "maxLength": 160 },
          "enrollment_id": { "oneOf": [{ "type": "string", "format": "uuid" }, { "type": "null" }] },
          "kind": { "$ref": "#/components/schemas/TaskKind" },
          "notes": { "type": "string", "maxLength": 5000 },
          "due_at": { "oneOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] },
          "priority": { "$ref": "#/components/schemas/TaskPriority" },
          "status": { "$ref": "#/components/schemas/TaskStatus" }
        }
      },
      "Task": {
        "type": "object", "required": ["id", "title", "kind", "status", "priority"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "enrollment_id": { "oneOf": [{ "type": "string", "format": "uuid" }, { "type": "null" }] },
          "title": { "type": "string" },
          "kind": { "$ref": "#/components/schemas/TaskKind" },
          "notes": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "due_at": { "oneOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] },
          "priority": { "$ref": "#/components/schemas/TaskPriority" },
          "status": { "$ref": "#/components/schemas/TaskStatus" },
          "inserted_at": { "type": "string", "format": "date-time" }
        }
      },
      "TaskResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/Task" } } },
      "TaskList": { "type": "object", "required": ["data", "meta"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Task" } }, "meta": { "$ref": "#/components/schemas/PaginationMeta" } } },

      "GradeInput": {
        "type": "object", "additionalProperties": false, "required": ["label"],
        "properties": {
          "label": { "type": "string", "minLength": 1, "maxLength": 80 },
          "score": { "oneOf": [{ "type": "number", "minimum": 0 }, { "type": "null" }], "description": "0 <= score <= max_score; null = ungraded." },
          "max_score": { "type": "number", "exclusiveMinimum": 0, "default": 10 },
          "weight": { "type": "number", "exclusiveMinimum": 0, "default": 1 }
        }
      },
      "Grade": {
        "type": "object", "required": ["id", "enrollment_id", "label", "max_score", "weight", "source"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "enrollment_id": { "type": "string", "format": "uuid" },
          "label": { "type": "string" },
          "score": { "oneOf": [{ "type": "number" }, { "type": "null" }] },
          "max_score": { "type": "number" },
          "weight": { "type": "number" },
          "source": { "$ref": "#/components/schemas/Source" }
        }
      },
      "GradeResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/Grade" } } },
      "GradeList": { "type": "object", "required": ["data"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Grade" } } } },
      "GradeSummaryResponse": {
        "type": "object", "required": ["data"],
        "properties": { "data": {
          "type": "object", "required": ["weighted_average", "graded_weight", "remaining_weight", "passing_average", "status"],
          "properties": {
            "weighted_average": { "type": "number" },
            "graded_weight": { "type": "number", "minimum": 0 },
            "remaining_weight": { "type": "number", "minimum": 0 },
            "passing_average": { "type": "number" },
            "needed_on_remaining": { "oneOf": [{ "type": "number" }, { "type": "null" }], "description": "null if unreachable or already decided." },
            "status": { "type": "string", "enum": ["on_track", "at_risk", "passed", "failed"] }
          }
        }}
      },

      "AbsenceInput": {
        "type": "object", "additionalProperties": false, "required": ["date"],
        "properties": {
          "date": { "type": "string", "format": "date", "description": "Within the semester range." },
          "count": { "type": "integer", "minimum": 1, "maximum": 10, "default": 1 },
          "note": { "type": "string", "maxLength": 200 }
        }
      },
      "Absence": {
        "type": "object", "required": ["id", "enrollment_id", "date", "count", "source"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "enrollment_id": { "type": "string", "format": "uuid" },
          "date": { "type": "string", "format": "date" },
          "count": { "type": "integer" },
          "note": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "source": { "$ref": "#/components/schemas/Source" }
        }
      },
      "AbsenceResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/Absence" } } },
      "AbsenceList": { "type": "object", "required": ["data"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Absence" } } } },
      "AbsenceSummaryResponse": {
        "type": "object", "required": ["data"],
        "properties": { "data": {
          "type": "object", "required": ["used", "remaining", "status"],
          "properties": {
            "used": { "type": "integer", "minimum": 0 },
            "limit": { "oneOf": [{ "type": "integer" }, { "type": "null" }] },
            "remaining": { "oneOf": [{ "type": "integer" }, { "type": "null" }] },
            "status": { "type": "string", "enum": ["ok", "warning", "exceeded"] }
          }
        }}
      },

      "University": {
        "type": "object", "required": ["id", "name", "acronym"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "acronym": { "type": "string" },
          "city": { "oneOf": [{ "type": "string" }, { "type": "null" }] }
        }
      },
      "UniversityResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/University" } } },
      "UniversityList": { "type": "object", "required": ["data", "meta"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/University" } }, "meta": { "$ref": "#/components/schemas/PaginationMeta" } } },
      "Unit": {
        "type": "object", "required": ["id", "name", "university_id"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "university_id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "acronym": { "oneOf": [{ "type": "string" }, { "type": "null" }] }
        }
      },
      "UnitList": { "type": "object", "required": ["data", "meta"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Unit" } }, "meta": { "$ref": "#/components/schemas/PaginationMeta" } } },
      "Course": {
        "type": "object", "required": ["id", "name", "unit_id"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "unit_id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "degree": { "oneOf": [{ "type": "string" }, { "type": "null" }] }
        }
      },
      "CourseList": { "type": "object", "required": ["data", "meta"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Course" } }, "meta": { "$ref": "#/components/schemas/PaginationMeta" } } },
      "Discipline": {
        "type": "object", "required": ["id", "code", "name", "unit_id"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "unit_id": { "type": "string", "format": "uuid" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "credits": { "oneOf": [{ "type": "integer" }, { "type": "null" }] }
        }
      },
      "DisciplineResponse": { "type": "object", "required": ["data"], "properties": { "data": { "$ref": "#/components/schemas/Discipline" } } },
      "DisciplineList": { "type": "object", "required": ["data", "meta"], "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Discipline" } }, "meta": { "$ref": "#/components/schemas/PaginationMeta" } } }
    }
  }
}
